CoreToSponge
CoreToBukkit
CoreToPaper
CoreToFolia

standalone

ShipsToSponge/
ShipsToBukkit/

ShipsForCore/
ShipsCore/

.idea/modules
.idea/*[!/].xml
.idea/artifacts/*
.gradle/
build/
translate-core.properties
.name
