[submodule "ShipsToSponge"]
	path = ShipsToSponge
	url = https://github.com/Minecraft-Ships/ShipsToSponge.git
[submodule "ShipsForCore"]
	path = ShipsForCore
	url = https://github.com/Minecraft-Ships/ShipsForCore.git
[submodule "CoreToSponge"]
	path = CoreToSponge
	url = https://github.com/Minecraft-Ships/CoreToSponge.git
[submodule "TranslateCore"]
	path = TranslateCore
	url = https://github.com/Minecraft-Ships/TranslateCore.git
[submodule "CoreToFolia"]
	path = CoreToFolia
	url = https://github.com/Minecraft-Ships/CoreToFolia.git
